[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/latchr/qudi-iqo-thirdparty.git
[submodule "config/qo-config"]
	path = config/qo-config
	url = https://github.com/latchr/qudi-iqo-config.git
