* {
    background: #000;
    color: #FFF;
}

QPushButton {
    background: #A00;
}

/* Make splitter handles between dock widgets more visible */
QMainWindow::separator {
    background-color: #666
}
