#  Example Qudi configuration file.

global:
    # list of modules to load when starting
    startup: []

    # Module server configuration for accessing qudi GUI/logic/hardware modules from remote clients
    remote_modules_server:
        address: 'localhost'
        port: 12345

    # Server port for serving the active qudi module namespace locally (localhost).
    # Used by e.g. the Qudi jupyter kernel.
    namespace_server_port: 18861

    # If this flag is set (True), all arguments passed to qudi module APIs from remote
    # (jupyter notebook, qudi console, remote modules) will be wrapped and passed "per value"
    # (serialized and de-serialized). This is avoiding a lot of inconveniences with using numpy in
    # remote clients.
    # If you do not want to use this workaround and know what you are doing, you can disable this
    # feature by setting this flag to False.
    force_remote_calls_by_value: True

    # Qss stylesheet for controlling the appearance of the GUIs.
    # Absolute path or relative to qudi.artwork.styles
    stylesheet: 'qdark.qss'

    # Default root directory for measurement data storage. All eventual data sub-directories should
    # be contained within this directory. This is not enforced, just convention.
    # The fallback directory is <user home>/qudi/Data/
    # default_data_dir: C:\Users\neverhorst\qudi\Data

    # Save data to daily data sub-directories by default
    daily_data_dirs: True

logic:
    taskrunnerlogic:
        module.Class: 'taskrunner.TaskRunnerLogic'
        module_tasks:
            the_task:
                module.Class: 'qudi.tasks.test_tasks.TestTask'
                connect:
                    derp: 'testlogic'
            the_other_task:
                module.Class: 'qudi.tasks.test_tasks.TestTask2'
                connect:
                    derp: 'testlogic'
            the_other_task2:
                module.Class: 'qudi.tasks.test_tasks.TestTask2'
                connect:
                    derp: 'testlogic'
            the_other_task3:
                module.Class: 'qudi.tasks.test_tasks.TestTask2'
                connect:
                    derp: 'testlogic'
            the_other_task4:
                module.Class: 'qudi.tasks.test_tasks.TestTask2'
                connect:
                    derp: 'testlogic'
            the_other_task5:
                module.Class: 'qudi.tasks.test_tasks.TestTask2'
                connect:
                    derp: 'testlogic'
            the_other_task6:
                module.Class: 'qudi.tasks.test_tasks.TestTask2'
                connect:
                    derp: 'testlogic'

    testlogic:
        module.Class: 'testlogic.TemplateLogic'
        allow_remote: True
        my_config_var: 42
        connect:
            my_hardware_connector: 'testhardware'

    testlogic1:
        module.Class: 'testlogic.TemplateLogic'
        my_config_var: 69
        connect:
            my_logic_connector: 'testlogic2'
            my_hardware_connector: 'testhardware'

    testlogic2:
        module.Class: 'testlogic2.TestLogic2'
        my_config_var: 111
        connect:
            my_hardware_connector: 'testhardware2'

    #kernellogic:
    #    module.Class: ''

hardware:
    testhardware:
        module.Class: 'testhardware.TemplateHardware'
        allow_remote: True
        my_config_var: 'some HARDwear... hurr durr...'

    testhardware2:
        module.Class: 'testhardware2.TestHardware2'
        my_config_var: '2nd Test hardware'

gui:
    testgui:
        module.Class: 'testgui.TemplateGui'
        display_string: 'This is stuff I have declared in the .cfg file.'
        connect:
            my_first_logic_connector: 'testlogic'
            my_second_logic_connector: 'testlogic1'

    testgui2:
        module.Class: 'testgui2.TestGui2'
        display_string: 'This is stuff I have declared in the .cfg file.'
        cfg_option: 'muh stuff'
        connect:
            my_first_logic_connector: 'testlogic'
            my_second_logic_connector: 'testlogic1'
            my_third_logic_connector: 'testlogic2'

    taskrunner:
        module.Class: 'taskrunner.task_runner_gui.TaskRunnerGui'
        connect:
            task_runner: 'taskrunnerlogic'
